DATABASE_URL=postgresql://user:password@localhost:5432/sportz
PORT=3000
HOST=0.0.0.0
ARCJET_KEY=
ARCJET_MODE=DRY_RUN
ARCJET_ENV=development
API_URL=http://localhost:3000
NODE_ENV=development
BROADCAST=true
DELAY_MS=250
MATCH_COUNT=0
